@charset "UTF-8";
*, *::before, *::after{ box-sizing: border-box; }
/*  common
--------------------------------*/
    /* border: solid 5px #000; */
body{
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.wrap{
    overflow: hidden;
}

/*  slideshow
--------------------------------*/
.slide{
    width: 92.7%;
    height: 98vh;
    border-radius: 20px;
    margin: 90px auto 0 auto;
    z-index: 10;
}
.slide-contents{
    position: relative;
}
.slide1{
    background: url(../img/FV1.png) no-repeat center center;
    background-size: cover;
}
.slide2{
    background: url(../img/FV2.png) no-repeat center center;
    background-size: cover;
}

/*  header
--------------------------------*/
/* nav-list--------- */
.nav-list{
    display: flex;
    justify-content: flex-end;  
    margin:30px 50px 0 50px;
    align-items: center;
    }
.nav-list a{
    margin-left: 2.5vw;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.contact-wrap{
    display: flex;
    align-items: center;
}
.contact-wrap .mail-icon{
    width: 21px;
    height: 21px;
    margin-left: 4px;
    margin-top: 5px;
}

/* fv-wrap--------- */
.fv-wrap{
    position: relative;
    margin-top: -58px;
}
h1 .logo{
    width: 317px;
    height: 175px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    }

/* スライド1 */
.slide1-wrap h2{
    font-size: 2.5vw;
    font-weight: 450;
    line-height: 1.625;
    color: #fff;
    letter-spacing: 0.1em;
    position: absolute;
    top: 80%; 
    /* ↑800/1366=0.586 */
    left: 9%;
    width: 700px;
}
.slide1-wrap span{
    color: #FAE053;
}

/* スライド2 */
.softcream-wrap h2{
    font-size: 2.8vw;
    font-weight: 450;
    color: #4265DB;
    /* letter-spacing: 0.03em; */
}
.softcream-wrap h3{
    font-size: 2.8vw;
    font-weight: 450;
    color: #4265DB;
    /* letter-spacing: 0.03em; */
}
.softcream-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px 0 0 60px;
}
.softcream{
    width: 100%;
    height: 70vh;
    box-shadow: 10px 10px 10px -20px #00000029;
}
/*  main
--------------------------------*/
/* first-area-------------------*/
.first-area{
    background-image: url(../img/cloud.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    height: 140vh;
}
.airmail{
    width: 25vw;
    top: 30%;
    left: 30%;
}
.title-wrap h2{
    display: block;
    color: #1e3663;
    font-size: 2.3vw;
    font-weight: 450;
    text-align: center;
    margin-left: 20px;
}
.border{
    background: repeating-linear-gradient(-45deg, #FBF3BB, #FBF3BB 16px, white 15px, white 28px);
    width: 40%;
    height: 3vh;
    margin: 0 auto;
}
.content-wrap{
    font-size: 1.4vw;
    line-height: 1.72;
    text-align: center;
    margin-top: 6.5vh;
}
.content-wrap p{
    color: #1e3663;
    letter-spacing: 0.035em;
}
/* =====スクロールダウン===== */
/*スクロールダウン全体の場所*/
.scrolldown2{
    /*描画位置※位置は適宜調整してください*/
	position: absolute;
    margin-top: 150px;
	left: 50%;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
    /*描画位置*/
	position: absolute;
	left:10px;
	bottom:10px;
    /*テキストの形状*/
	color: #1e3663;
	font-size: 1rem;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-7px;
    /*丸の形状*/
	width:13px;
	height:13px;
	border-radius: 50%;
	background:#1e3663;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
	animation:
		circlemove 1.6s ease-in-out infinite,
		cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:50px;}
     100%{bottom:-20px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

/* 線の描写 */
.scrolldown2:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom: -17px;
	left:-2px;
    /*線の形状*/
    width: 0.25vw;
    height: 70px;
	/* width:3px;
	height: 70px; */
	background:#1e3663;
}

/* milk-area-------------------*/
.milk-area{
    position: relative;
}
.milk-pot{
    /* position: relative; */
    position: absolute;
    width: 440px;
    height: 440px;
    transform: matrix(-0.31, -0.95, 0.95, -0.31, 0, 0);
    left: 70%;
    margin-top: -220px;
    margin-left: 3vw;
}
.drip-milk{
    position: absolute;
    top: 7%;
    right: 20%;
}

/* 星たち */
.stars{
    position: absolute;
    top: 10%;
    right: 28%;
    z-index: 100;
    transform: matrix(0.93, 0.36, -0.36, 0.93, 0, 0);
}
.star1{
    width: 100%;
    height: 5vh;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    margin-right: 10vw;
}
.star2{
    width: 100%;
    height: 8vh;
    transform: matrix(0.88, 0.47, -0.47, 0.88, 0, 0);
    margin-left: 6vw;

}
.star3{
    width: 100%;
    height: 12vh;
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
}
.star4{
    width: 100%;
    height: 10vh;
    transform: matrix(0.93, 0.36, -0.36, 0.93, 0, 0);
    margin-left: 5vw;
}
.star5{
    width: 100%;
    height: 15vh;
    transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
    margin-left: 2vw;
    margin-top: 10vh;
}

/* ミルクのたぷたぷ */
#wrapper{
    position: relative;
    width:100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

    }
canvas{
    position: absolute;
    left:0;
    width: 100%;
    }

/* second-area-------------------*/
.second-area{
    background-color: #FCEEDD;
}
.main-ttl-wrap{
    background-color: #FCEEDD;
    width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.9vw;
    line-height: 1.676;
    color: #1A2D51;
    font-weight: 500;
    transform: matrix(0.96, -0.28, 0.28, 0.96, 0, 0);
    margin-left: 4vw;
}
.main-ttl-wrap h4 span{
    color:#528DFC;
}

.main-ttl-wrap::before{
    content: '';
    width: 5px;
    height: 70px;
    background-color:#707070;
    border-radius: 3px;
    display: inline-block;
    transform: rotate(-30deg);
    margin-top: 10vw;
    margin-right: 4vw;
    }
.main-ttl-wrap::after{
    content: '';
    width: 5px;
    height: 70px;
    background-color:#707070;
    border-radius: 3px;
    display: inline-block;
    transform: rotate(30deg);
    margin-top: 10vw;
    margin-left: 4vw;
    }

/* product-list */
.number{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.07em;
    color: #707070;
}
.product-list p{
    line-height: 2.4;
    font-size: 25px;
    font-weight: 500;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline;
    padding: 9px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}
.product-list p span{
    color: #528DFC;
}
/* product-wrap1 */
.product-wrap1{
    position: relative;
    margin-top: 80px;
    margin-left: 5vw;

}
.product-wrap1 h2{
    position: absolute;
    display: block;
    margin-top:25px;
    left: 460px;
}
.product1{
    position: absolute;
    width: 592px;
}
.product-wrap1 h3{
    position: absolute;
    top: 290px;
}
.illust_milk{
    position: absolute;
    width: 95px;
    top: 230px;
    left: 450px;
    transform: matrix(0.98, 0.21, -0.21, 0.98, 0, 0);
}
/* illust-wrap */
.illust-wrap{
    position: relative;
    top: 120px;
    left: 70vw;
}
.yogurt{
    position: absolute;
    width: 149px;
}
.star6{
    position: absolute;
    width: 53px;
}
/* product-wrap2 */
.product-wrap2{
    position: relative;
    padding-top: 300px;
    margin-left: 50vw;
}
.product-wrap2 h2{
    position: absolute;
    margin-top: 18px;
    left: 480px;
}
.product-wrap2 h3{
    position: absolute;
    margin-top: 260px;
}
.product2{
    position: absolute;
    width: 580px;
    height: 378px;
    /* top: 100px; */
}
.illust_scop{
    position: absolute;
    width: 80px;
    margin-top: 110px;
    left: 480px;
    transform: matrix(-0.98, -0.19, -0.19, 0.98, 0, 0);
}
/* product-wrap3 */
.product-wrap3{
    position: relative;
    padding-top: 330px;
    margin-left: 3vw;
}
.product-wrap3 h2{
    position: absolute;
    margin-top: 35px;
    left: 60px;
}
.product-wrap3 h3{
    position: absolute;
    margin-top: 260px;
    left: 500px;
}
.product3{
    position: absolute;
    width: 606px;
    left: 40px;
}
.stars2{
    position: absolute;
    margin-top: 200px;
    left: 20px; 
}
.bin{
    position: absolute;
    width: 100px;
    margin-top: 280px;
    left: 70px;
    transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
}
